{% for model in inline.models %}
<tr>
<td>{{model.id}}</td>
<td>{{model.delivery_date}}</td>
<td>{{model.date_delivered}}</td>
<td>{{model.messenger.fname}} {{model.messenger.lname}}</td>
<td>
    {% if model.status == "IN-PROGRESS" %}
    <div class="mb-2 mr-2 badge badge-danger">{{model.status}}</div>
    {% elif model.status == "PENDING" %}
    <div class="mb-2 mr-2 badge badge-warning">{{model.status}}</div>
    {% elif model.status == "DELIVERED" %}
    <div class="mb-2 mr-2 badge badge-success">{{model.status}}</div>
    {% endif %}
</td>
<td>
    {% if model.status == "IN-PROGRESS" %}
    {% else %}
    <button type="button" class="btn btn-primary btn-sm btn_details" data-toggle="modal" data-target="#details_modal" data-placement="bottom">Details</button>
    {% endif %}
</td>
</tr>
{% endfor %}
